                                                                            /*logo */
.logo-imagen{
background-image: url(../images/tornil.png);
background-size: cover;
}
#logo {
width: 300px;
height: 300px;
opacity: 0.7;
margin-left: 600px;
border-color: rgba(121, 120, 120);
border-style: solid;
border-radius: 20px;
}

                                                                            /*fin logo */


                                                                        /*margenes pagina */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
                                                                        /*fin margenes pagina */


                                                                                    /*video*/

.video-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: -1; 
}

video {
width: 100%;
height: 100%;
object-fit: cover; 
}
                                                                            /*fin video*/

                                                                    /*barras de navegación y secciones*/
.navbar {
display: flex;
justify-content: center;
align-items: center;
background-color: #333;
padding: 10px 20px;
}

#log-fac{
width: 50px;
height: 50px;
border-radius: 20px;
}

#log-left{
width: 200px;
height: 50px;
border-radius: 20px;
margin-left: 10px;

}

#log-right{
width: 50px;
height: 50px;
border-radius: 20px;
}

.nav-links{
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

.nav-links li {
margin-left: 20px;
}

.nav-links a {
color: white;
text-decoration:none;
padding: 8px 16px;
transition: background-color 0.3s;
}

.nav-links a:hover {
background-color: #575757;
border-radius: 4px;
}

section {
padding: 50px;
height: 800px;
}

section:nth-child(even) {
background-color: #f4f4f4;

}

section:nth-child(odd) {
background-color: #e2e2e2;
}

                                                                    /*fin barras de navegación y secciones*/


                                                                                /*body*/
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
                                                                                    /*body*/

                                                                                /*acerca de */

.flex-container {
display: flex; 
justify-content: space-around; 
align-items: center; 
padding: 30px;
background-image: url(../images/fondo3.png);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 40px;
margin: 10px;
}

                                                                            /*fin acerca de */

.flex-item {
display:block; 
justify-content:center; 
align-items: center; 
padding: 50px;
background-color: rgb(249, 243, 243, 0.60);
border-radius: 50px;
margin: 20px;
color: black; 
border-radius: 10%;
border-color: black;
border-style: solid;
text-align:justify;
text-shadow: rgb(247, 193, 142) 8px 8px 8px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;

}

                                                                        /*porductos*/
.productos {
display: flex;
width: 100%;
height: 100%; 
margin: 0;
}

.productos a {
text-decoration: none; 
}

.productos img {
width: 0px; 
flex-grow: 60; 
object-fit: cover; 
opacity: 1; 
transition: width 0.3s, opacity 0.3s; 
}

.productos img:hover {
width: 300px; 
opacity: 1; 
}

                                                                        /*fin productos*/

                                                                        /*contactanos*/

.formular{
width: 600px; 
font-family: Arial, sans-serif;
background-color: rgb(40, 40, 40); 
color: #fff; 
display: flex;
justify-content: center;
align-items: center;
height: 600px; 
margin: 0;
border-radius: 20px;
}

h1 {
text-align: center;
margin-bottom: 20px;
}

label {
margin-top: 10px;
display: block; 
}

input, textarea {
width: 100%; 
padding: 10px; 
margin-top: 5px;
border: 1px solid #76a1cf; 
border-radius: 4px; 
background-color: #333; 
color: #fff; 
}

input:focus, textarea:focus {
border-color: #76a1cf; 
outline: none; 
}

button {
background-color: #007BFF; 
color: #fff; 
border: none; 
padding: 10px; 
border-radius: 4px; 
cursor: pointer; 
width: 100%; 
margin-top: 10px;
}
button:hover {
background-color: #0056b3; 
}
                                                                                
.icon-container {
text-align: center; 
}

.icon {
display: inline-block; 
margin: 10px; 
transition: transform 0.6s; 
}

.icon img {
width: 50px; 
height: 50px; 
}

.icon:hover {
transform: scale(0.4); 
}

.ubicacion{
display: flex;
}
#vid-ubi{
width: 620px;
height: 596px;
margin-left: 750px;
margin-top: -596px;
border-radius: 20px;
border-color: black;
border-style: solid;
}
.tit{
background-color: #dcd9d9; 
color: black; 
padding: 10px; 
text-align: center; 
border-radius: 5px; 
}

                                                                    /* fin contactanos*/

                                                                            /*footer*/

footer {
background-color: #333; 
color: white;
padding:5px;
text-align: center;
}
                                                                                                                                                                                             
.contact-button {
background-color: #FFD700; 
color: black;
border: none;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.3s;
}
                                                                            
.contact-button:hover {
background-color: #FFC107; 
}

                                                                                /* footer*/